main {
    flex-direction: row;
}

form {
    margin: 50px auto;
    text-align: center;
    position: relative;
    border: 2px none;
    border-radius: 3px;
    background: #004346;
    box-shadow: 0 0 4rem 4rem #004346;

    display: flex;
    gap: 5px;
    flex-direction: column;
}

form>fieldset {
    background: #011f20;
    border: 0 none;
    border-radius: 3px;
    border-style: groove dashed;
    border-width: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

form>fieldset>input {
    width: 100%;
    border-color: #508991;
}

form>input {
    background-color: #015a5f;
    border-radius: 10px;
    border: 2px none;
    color: white;
}

form>input:hover {
    cursor: pointer;
}

article {
    flex-direction: column;
    gap: unset;
}

#content {
    flex-direction: column;
    flex-grow: 1;
}

#content * h2 {
    padding-left:1rem;
}

@media (min-width: 720px) and (max-width: 1200px) {
    #asideProduct1 {
        display: block;
    }

    .asideProducts {
        margin-left: unset;
        padding-left: 1rem;
    }

    .asideProducts>aside>ol>li {
        display: unset;
    }
}


@media (max-width: 720px) {
    main {
        padding: 1rem 0 1rem 0;
        flex-direction: column;
    }

    .asideProducts {
        margin-left: unset;
        padding-left: 1rem;
    }
}